/* MyStyles.css */
.vegan {
    background-color: #88cc88; /* or green */
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.vegetarian {
    background-color: #c1ff9b;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.pescatarian {
    background-color: #9befff;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.non-vegetarian {
    background-color: #ff9999;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.unknown {
    background-color: #cccccc;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
